<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IChatService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService" contract="Proxy.IChatService"
                name="WSDualHttpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>